<div class="container">
  <div class="contain">
    <form class="form" [formGroup]="signup" (ngSubmit)="onsubmit()">
      <h1>SIGN UP</h1>
      <div class="inputs">
        Firstname:
        <input type="text" placeholder="Firstname" formControlName="fname" />
        <div *ngIf="submitted && f['fname'].errors">
          <p style="color: red" *ngIf="f['fname'].errors['required']">
            Required
          </p>

          <p
            class="error"
            style="color: red"
            *ngIf="f['fname'].errors['pattern']"
          >
            *please enter valid name
          </p>
        </div>

        <!-- <p
          class="error"
          style="color: red"
          *ngIf="(fname && fname.errors?.['required'] && fname.touched)"
        >
          *this field is required
        </p> -->
      </div>

      <div class="inputs">
        Lastname:
        <input type="text" placeholder="lastname" formControlName="lname" />

        <p
          style="color: red"
          *ngIf="!signup.controls['lname'].valid && submitted"
        >
          Required
        </p>
      </div>

      <div class="inputs">
        Phone:

        <input
          required
          type="tel"
          placeholder="Phone no."
          formControlName="telephone"
        />
        <div *ngIf="submitted && f['telephone'].errors">
          <p style="color: red" *ngIf="f['telephone'].errors['required']">
            Required
          </p>
          <p
            style="color: red"
            *ngIf="
              f['telephone'].errors['pattern'] ||
              f['telephone'].errors['minlength'] ||
              f['telephone'].errors['maxlength']
            "
          >
            *please enter valid phone number
          </p>
        </div>

        <!-- <p
          class="error"
          style="color: red"
          *ngIf="(phone && phone.errors?.['required'] && phone.touched)"
        >
          *this field is required
        </p> -->
        <!-- <p
          class="error"
          style="color: red"
          *ngIf="phone && phone.touched && (phone.errors?.['pattern'] || phone.errors?.['minlength']||phone.errors?.['maxlength'])"
        >
          *Please Enter Valid number
        </p> -->

        <!-- <p
          style="color: red"
          *ngIf="!signup.controls['telephone'].valid && submitted"
        >
          Required
        </p> -->
      </div>

      <div class="inputs">
        Email:<input type="email" placeholder="Email" formControlName="email" />
        <div *ngIf="submitted && f['email'].errors">
          <p style="color: red" *ngIf="f['email'].errors['required']">
            Required
          </p>

          <p
            class="error"
            style="color: red"
            *ngIf="f['email'].errors['email']"
          >
            *please enter valid email
          </p>
        </div>
        <!-- <p
          class="error"
          style="color: red"
          *ngIf="(mail && mail.errors?.['required'] && mail.touched)"
        >
          *this field is required
        </p> -->
        <!-- <p
          class="error"
          style="color: red"
          *ngIf="mail && mail.errors?.['email'] && mail.touched"
        >
          *Please Enter Valid email
        </p> -->

        <!-- <p
          style="color: red"
          *ngIf="!signup.controls['email'].valid && submitted"
        >
          Required
        </p> -->
      </div>

      <div class="inputs">
        Password:

        <input
          type="password"
          placeholder="password"
          formControlName="password"
        />
        <div *ngIf="submitted && f['password'].errors">
          <p style="color: red" *ngIf="f['password'].errors['required']">
            required
          </p>

          <p
            class="error"
            style="color: red"
            *ngIf="
              f['password'].errors['pattern'] ||
              f['password'].errors['minlength']
            "
          >
            *password must be atleast 6 digit
          </p>
        </div>

        <!-- <p
          class="error"
          style="color: red"
          *ngIf="(password && password.errors?.['required'] && password.touched)"
        >
          *this field is required
        </p> -->

        <!-- <p
          class="error"
          style="color: red"
          *ngIf="password && password.touched &&(password.errors?.['pattern']||password.errors?.['minlength'])"
        >
          *Password must be atleast 6
        </p> -->

        <!-- <p
          style="color: red"
          *ngIf="!signup.controls['password'].valid && submitted"
        >
          Required
        </p> -->
      </div>

      <div class="inputs">
        Confirm-password:
        <input
          type="password"
          placeholder="confirm password"
          formControlName="cpassword"
        />
        <!-- <p
          class="error"
          style="color: red"
          *ngIf="(cpassword && cpassword.errors?.['required'] && cpassword.touched)"
        >
          *this field is required
        </p> -->
        <p
          class="error"
          style="color: red"
          *ngIf="
            cpassword && cpassword.value != password?.value && cpassword.touched
          "
        >
          *password doesn't match
        </p>

        <p
          style="color: red"
          *ngIf="!signup.controls['cpassword'].valid && submitted"
        >
          Required
        </p>
      </div>
      <div class="btn">
        <button type="submit" class="button">Sign up</button>
      </div>
      <div class="msg">
        <p>Already have a account? <a routerLink="/signin">Sign-in</a></p>
      </div>
    </form>
  </div>
</div>
